**#2: List to List comprehension**

In [4]:
import numpy as np
import numpy.matlib
import os
import sys
import codecs
import matplotlib.pyplot as plt
import pandas as pd
from openpyxl import Workbook
import pprint
import datetime

In [5]:
['柿','苺','蜜柑','桜桃','林檎']
['かき','いちご','みかん','さくらんぼ','りんご']

['かき', 'いちご', 'みかん', 'さくらんぼ', 'りんご']

In [6]:
[['かき','木'],['いちご','苗'],['みかん','木'],['さくらんぼ','木'],['りんご','木']]
[['かき','果物'],['いちご','野菜'],['みかん','果物'],['さくらんぼ','果物'],['りんご','果物'],['トマト','野菜']]

[['かき', '果物'],
 ['いちご', '野菜'],
 ['みかん', '果物'],
 ['さくらんぼ', '果物'],
 ['りんご', '果物'],
 ['トマト', '野菜']]

In [7]:
foodList=[['かき','果物'],['いちご','野菜'],['みかん','果物'],['さくらんぼ','果物'],['りんご','果物'],['トマト','野菜']]

In [8]:
animalList=[['猿',True],['犬',True],['熊',False],['牛',True],['兎',True]]
animalList

[['猿', True], ['犬', True], ['熊', False], ['牛', True], ['兎', True]]

In [9]:
[d1[0] for d1 in animalList]

['猿', '犬', '熊', '牛', '兎']

In [10]:
[d1[0] for d1 in animalList if d1[1] ]
# [d1[0] for d1 in animalList if d1[1]==True ]

['猿', '犬', '牛', '兎']

In [11]:
['ぞう','ねこ','うさぎ','コアラ','パンダ','りす','さる', 'なまけもの','ふくろう']

['ぞう', 'ねこ', 'うさぎ', 'コアラ', 'パンダ', 'りす', 'さる', 'なまけもの', 'ふくろう']

In [12]:
animalList2=[['ぞう',1],['ねこ',2],['うさぎ',3],['コアラ',4],['パンダ',5],['りす',6],['さる',7], ['なまけもの',8],['ふくろう',9]]
animalList2

[['ぞう', 1],
 ['ねこ', 2],
 ['うさぎ', 3],
 ['コアラ', 4],
 ['パンダ', 5],
 ['りす', 6],
 ['さる', 7],
 ['なまけもの', 8],
 ['ふくろう', 9]]

In [13]:
[d1[0] for d1 in foodList if d1[1]=='果物' ]

['かき', 'みかん', 'さくらんぼ', 'りんご']

In [14]:
watchList=[[], [1], [1,7], [1,6], [1,6,9], [2,3,4,5,8]]
watchList

[[], [1], [1, 7], [1, 6], [1, 6, 9], [2, 3, 4, 5, 8]]

In [15]:
np.array(watchList)
# データの形が揃ってないので、Numpyに変換してもエラーが発生します。そこで、データの形を整えることを考えてみます。

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (6,) + inhomogeneous part.

In [16]:
data=watchList

In [17]:
[d1 for d1 in data]

[[], [1], [1, 7], [1, 6], [1, 6, 9], [2, 3, 4, 5, 8]]

In [18]:
lengthD=[len(d1) for d1 in data]
lengthD

[0, 1, 2, 2, 3, 5]

In [38]:
maxN=max(lengthD)
maxN

5

In [20]:
max(data)

[2, 3, 4, 5, 8]

In [21]:
[[d2 for d2 in d1] for d1 in data]

[[], [1], [1, 7], [1, 6], [1, 6, 9], [2, 3, 4, 5, 8]]

In [22]:
[[d2 for d2 in d1] for d1 in data]

[[], [1], [1, 7], [1, 6], [1, 6, 9], [2, 3, 4, 5, 8]]

In [23]:
[d2 for d2 in [1, 2]]

[1, 2]

In [24]:
[d1 for d1  in data if len(d1)>0]

[[1], [1, 7], [1, 6], [1, 6, 9], [2, 3, 4, 5, 8]]

In [25]:
1+1

2

In [26]:
0+0

0

In [28]:
[0]+[0]

[0, 0]

In [46]:
[0]*4

[0, 0, 0, 0]

In [30]:
'a'*6

'aaaaaa'

In [31]:
d1=[1,2]
[0]*(4-len(d1))

[0, 0]

In [33]:
d1=[1,2]
[0]*(4-len(d1))+d1

[0, 0, 1, 2]

In [44]:
[d1 if len(d1)==5 else d1+[0]*(5-len(d1)) for d1 in data ]

[[0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 7, 0, 0, 0],
 [1, 6, 0, 0, 0],
 [1, 6, 9, 0, 0],
 [2, 3, 4, 5, 8]]

In [39]:
maxN=5

In [40]:
data2=[d1 if len(d1)==maxN else d1+[0]*(maxN-len(d1)) for d1 in data ]

In [42]:
data2=[d1 if len(d1)==maxN else d1+[0]*(maxN-len(d1)) for d1 in data ]
np.array(data2)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 7, 0, 0, 0],
       [1, 6, 0, 0, 0],
       [1, 6, 9, 0, 0],
       [2, 3, 4, 5, 8]])